spring.application.name=sharelink

# AWS
cloud.aws.region.static=YOUR_AWS_REGION
aws.s3.bucketName=YOUR_BUCKET_NAME

# Cognito
cognito.clientId=COGNITO_CLIENT_ID
cognito.userPoolId=COGNITO_USERPOOL_ID
cognito.jwksUrl=COGNITO_JWKS_URL

# App
app.baseUrl=APP_URL
